<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{accounts.users.title}"></title>
</head>
<body>
    <a data-th-href="@{/accounts/users/new-user}" data-th-utext="#{accounts.users.new_user}"></a>
    <h1 data-th-text="#{accounts.users.list.h1}"></h1>
    <table>
        <thead>
            <tr>
                <th data-th-text="#{accounts.users.list.columns.id}">ID</th>
                <th data-th-text="#{accounts.users.list.columns.login}"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="user : ${users}">
                <td data-th-text="${user.id}"></td>
                <td>
                    <a data-th-href="@{/accounts/users/{userId}(userId=${user.id})}"
                       data-th-text="${user.login}"></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>