<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore&colon; [[${user.login}]]</title>
</head>
<body>
<a data-th-href="@{/accounts/users}" data-th-utext="#{accounts.users.list.back_to_user_list}"></a>
<h1 data-th-text="${user.login}"></h1>
<a data-th-href="@{/accounts/users/{userId}/edit(userId=${user.id})}" data-th-utext="#{accounts.users.user.go_to_edit}"></a>
<ul>
    <li><strong>Фамилия:</strong> <span data-th-text="${user.surname}"></span></li>
    <li><strong>Имя:</strong> <span data-th-text="${user.name}"></span></li>
    <li><strong>Отчество:</strong> <span data-th-text="${user.patronymic}"></span></li>
    <li><strong>Дата рождения:</strong> <span data-th-text="${user.dateOfBirth}"></span></li>
    <li><strong>Email:</strong> <span data-th-text="${user.email}"></span></li>
    <li><strong>Имя пользователя:</strong> <span data-th-text="${user.login}"></span></li>
</ul>
<form method="post" data-th-action="@{/accounts/users/{userId}/delete(userId=${user.id})}">
    <button type="submit" data-th-text="#{accounts.users.user.delete}"></button>
</form>
</body>
</html>